<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aidevu.signage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Apps"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoTitle"
        android:usesCleartextTraffic="true"
        >

        <activity
            android:name="com.aidevu.signage.ui.IntroActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.OnBoarding">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.aidevu.signage.ui.MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name="com.aidevu.signage.ui.video.LoopingViewActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name="com.aidevu.signage.ui.settings.SettingsAdAddActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name="com.aidevu.signage.ui.settings.SettingsAdOrderEditActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name="com.aidevu.signage.ui.SplashActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.OnBoarding">
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.aidevu.signage.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~8982679318"/>
    </application>
</manifest>